*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    position: relative;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    min-height: 900px;
    max-height: 1000px;
    background: #fff;
    padding: 10px;
}

.left_side{
    position: relative;
    padding: 10px;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileText .profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profileText span {
    border-style: hidden;
    color: #000;
    font-size: 1.3em;
    margin: 0.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
}

.profileText textarea {
    margin-top: 0.2em;
}

.profileText .career {
    font-size: 0.8em;
    font-weight: 600;
}

span[contenteditable] {
    display: inline-block;
}

span[contenteditable].name:empty::before{
    content: 'Name';
}

span[contenteditable].career:empty::before{
    content: 'Career';
}

.profileText .yourself {
    width: 100%;
}
textarea{
    min-width: 100%;
    border: #333 dashed;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    resize: none;
}

.profile {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0);   
}

.title, .title2 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.4em;
    padding-top: 10px;
    margin-bottom: 10px;
}

.contactInfo.contact {
    grid-column: 1/span 2;
    border-bottom: 1px solid rgba(0, 0, 0);
    padding: 10px;
}

.contactInfo.contact ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactInfo.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
}

.contactInfo ul li .contacts {
    display: flex;

}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    
}
.contactInfo ul li span {
    font-weight: 300;
    width: 100%;
}

span[contenteditable].contact:empty::before {
    content: "Contact Number";
}

span[contenteditable].address:empty::before {
    content: "Address";
}

span[contenteditable].email:empty::before {
    content: "Email";
}

span[contenteditable].github:empty::before {
    content: "github.com/";
}

span[contenteditable].linkedin:empty::before {
    content: "linkedin.com/";
}

span[contenteditable].instagram:empty::before {
    content: "Instagram";
}

span[contenteditable].facebook:empty::before {
    content: "Facebook";
}

.hide {
    display: none;
}


.contactInfo ul li input {
    border-style: hidden;
    background-color: transparent;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education input.date {
    color: #000;
    font-weight: 500;
    width: 25px;
    font-size: 14px;
}

.contactInfo.education input.year {
    color: #000;
    font-weight: 500;
    width: 30px;
    font-size: 14px;
}

.contactInfo.education ul li span {
    color: #000;
    font-weight: 500;
    left: 30px;
}

.contactInfo.education ul li .forpresentcheckbox {
    position: absolute;
    right: 10px;
    top: 0;
}

.contactInfo.education span.course {
    color: #000;
    font-weight: 600;
    font-size: 1.15em;
}

.contactInfo.education span.course:empty::before {
    content: "Course";
}

.contactInfo.education span.university {
    color: #000;
    font-weight: 300;
}

.contactInfo.education span.university:empty::before {
    content: "University";
}

.location {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.location:not(span.university) {
    justify-content: end;
    align-items: end;
}

.contactInfo.education span.country {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    justify-content: end;

}

.contactInfo.education span.country:empty::before {
    content: "Country";
}

.projects input.date {
    color: #000;
    font-weight: 500;
    width: 25px;
    font-size: 14px;
}

.projects input.year {
    color: #000;
    font-weight: 500;
    width: 30px;
    font-size: 14px;
}

.projects ul li div{
    padding-bottom: 5px;
}

.projects ul li span {
    color: #000;
    font-weight: 500;
    left: 30px;
}

.projects ul li .forpresentcheckbox {
    position: absolute;
    right: 10px;
    top: 0;
}

.projects .project_name span {
    display: inline-block;
    border-bottom-style: dashed;
    color: #000;
    font-weight: 400;
    font-size: 1.05em;
    margin-bottom: 5px;
}

.projects .project_name span.filled {
    border-bottom-style: none;
}

.projects .project_name span:empty::before {
    content: "Project Name";
}

.projects .text ul li {
    padding-left: 5px;
    padding-bottom: 5px;
    list-style: "-";
}

.contactInfo.language ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: start;
    place-items: start;
}

.contactInfo.language span {
    display: inline-block;
    border-bottom-style: dashed;
    color: #000;
    font-weight: 400;
    font-size: 1.05em;
    width: 100px;
}

.contactInfo.language span.filled {
    border-bottom-style: none;
}

.contactInfo.language span:empty::before {
    content: "Language";
}

.container .right_side{
    position: relative;
    padding: 10px;
}

.filled {
    border-bottom-style: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.about .box {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.about .year_company input.date {
    font-weight: 600;
    width: 20px;
    font-size: 12px;
    border-style: none;
}
.about .year_company input.year {
    font-weight: 600;
    width: 30px;
    font-size: 12px;
    border-style: none;
}

.about .year_company .company {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about .year_company .company span{
    font-weight: 600;
}

.about .year_company .company span:empty::before{
    content: "Company";
}

.about .year_company span.country {
    color: #848c90;
    font-weight: 600;
    font-size: 0.9em;
}

.about .year_company span.country:empty::before{
    content: "Country"
}

.about .text h4 {
    font-size: 16px;
}

.about .text ul {
    padding-left: 20px;
}

.about .text ul li{
    padding-left: 5px;
    padding-bottom: 5px;
    list-style-type: '-';
}

.about .text ul li textarea {
    vertical-align: top;
    width: 220px;
}

.skills .box ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills .box ul li {
    list-style-type: none;
}
.skills .box span{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    border-bottom-style: dashed;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skills .box span:empty::before {
    content: "Skill";
}

.skills .box span.filled {
    border-style: solid;
    border-radius: 5px;
    background-color:#003147 ;
    color: #fff;
    padding: 5px;
}

.hobbies .hobby{
    display: block;
    font-size: 15px;
    font-weight: 500;
    border-bottom-style: dashed;
    width: fit-content;
}

.hobbies .box ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hobbies .box ul li{
    list-style-type: none;
    padding-right: 5px;
    padding-bottom: 10px;
}

.hobbies .hobby:empty::before {
    content: "Hobby";
}

.hobbies .hobby.filled {
    border-bottom-style: none;
}

button:not(.sidebar .print){
    background-color: #03a9f4;
    border-style: none;
    width: 30px;
    font-weight: 600;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
}

.present {
    font-size: 0.8em;
}

@media print {
    button {
        display: none;
    }

    .container .left_side{
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .sidebar {
        display: none;
    }
}